/*
Mã 3 màu đặc trưng của Trường:
Màu vàng: #edb53a
Màu xanh: #009966
Màu nâu:  #663300
*/

* {
    border-radius: 0px !important;
    font-family: "Segoe UI";
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

strong{
    font-weight: 600 !important;
}

input[type="checkbox"] {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-top {
    height: 90px;
    padding: 5px 30px 5px 30px;
    border-bottom: 1px solid #ddd;
    margin: 0;
    /*position: fixed;*/
    width: 100%;
    /*top: 0;*/
    background: #fff;
    z-index: 2;
}

.banner {
    height: 100%;
    background-image: url("https://vantrung1408.github.io/gm/Contents/03_images/01_myImages/banner.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.btn-menu {
    height: 35px;
    width: 100px;
    border-bottom: 2px solid rgb(0, 128, 0);
    display: inline-block;
    text-align: center;
    color: #000;
    padding: 8px 0 0 0;
    cursor: pointer;
    margin-right: 5px;
}

.btn-menu a {
    color: #000;
}

.btn-menu:hover {
    background-color: rgb(0, 128, 0);
    color: #fff;
}

.btn-menu:hover a,
.btn-menu a:hover {
    color: #fff;
}

.btn-menu-frame {
    padding: 22.5px 0 22.5px 0;
    float: right;
}

.process-bar {
    position: fixed;
    height: 3px;
    width: 50%;
    top: 0px;
    /*0 or 90*/
    z-index: 999999;
}

.process-bar.yellow {
    background: #edb53a;
    background: -webkit-linear-gradient(-90deg, transparent, #edb53a, transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, transparent, #edb53a, transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, transparent, #edb53a, transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, transparent, #edb53a, transparent);
    /* Standard syntax */
}

.process-bar.brown {
    background: #663300;
    background: -webkit-linear-gradient(-90deg, transparent, #663300, transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, transparent, #663300, transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, transparent, #663300, transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, transparent, #663300, transparent);
    /* Standard syntax */
}

.process-bar.green {
    background: #009966;
    background: -webkit-linear-gradient(-90deg, transparent, #009966, transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, transparent, #009966, transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, transparent, #009966, transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, transparent, #009966, transparent);
    /* Standard syntax */
}

body.modal-open .process-bar {
    background: #FFF;
    background: -webkit-linear-gradient(-90deg, transparent, #FFF, transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, transparent, #FFF, transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, transparent, #FFF, transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, transparent, #FFF, transparent);
    /* Standard syntax */
}

.main-body {
    height: calc(100% - 90px);
    width: 100%;
    margin: 0;
    /*padding-top:90px !important;*/
    /*margin-top:90px;*/
}

.main-body .row {
    text-align: center;
}

.bigLogo {
    height: 300px;
}

.note-adv {
    font-size: 18px;
    font-weight: 600;
}

.login-form-control {
    width: 100%;
    /*height:50px;*/
    height: 44px;
    font-size: 16px;
    margin-bottom: 10px;
}

.login-form-frame {
    /*width: 65%;*/
    width: 274px;
    margin: 0 auto;
    /*margin-top: 50px;*/
    margin-top: 30px;
}

.login-form-frame tr:last-child td:last-child {
    padding-right: 10px;
}

#forgot-password {
    font-weight: 600;
    font-size: 12px;
}

button.login-form-control {
    text-transform: uppercase;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.div-center {
    margin: 0 auto;
}

.remember-me-frame {
    font-size: 12px;
    color: #333;
    margin: -5px 0 10px 10px;
}

.remember-me-frame label {
    font-weight: 600;
}

div.checkbox label input[type="checkbox"] {
    /*top:-2px;*/
    top: 2px;
}

.btn-customer-info-frame {
    margin-left: 10px;
    display: inline-block;
}

.img-avatar {
    height: 32px;
}

.row-info {
    background: #fff;
    /*position: fixed;*/
    z-index: 10;
}

.row-info-fixed {
    position: fixed !important;
    top: 0px !important;
    border-bottom: 1px solid #ddd !important;
}

.row-info button {
    margin: 10px 0px 5px 0px;
}

.row-info>div.container>div.txt-info-frame  {
    padding-top: 17px;
}

.main-body>div:nth-child(2)>div.row:nth-child(1){
    padding-top: 15px;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top{
    padding-top: 0px;
}

.no-padding-bottom{
    padding-bottom: 0px;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-border {
    border: none !important;
}

table.no-border tr td {
    border: none !important;
}

.no-outline {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.txt-info {
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}

.txt-info .fa {
    font-size: 25px;
    color: rgb(0, 128, 0);
}

.glyphicon,
.fa {
    margin-right: 10px;
}

.upper {
    text-transform: uppercase;
}

.txt-info-frame>span>span.glyphicon {
    font-size: 25px;
}

p.p-title+hr,
div.tooltip+hr {
    margin-bottom: 30px;
}

.search-area-frame {
    margin-left: 250px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.search-area-frame tr td:last-child {
    padding-left: 20px;
    width: 350px;
}

.search-area-frame tr td {
    padding-bottom: 10px;
}

.search-area-frame tr td:first-child {
    text-align: right;
    width: 100px;
    white-space: nowrap;
}

.p-title {
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 15px;
}

span.caret {
    margin-left: 10px !important;
}

#btn-search-advance {
    margin-left: 10px;
    font-size: 12px;
    vertical-align: bottom;
    cursor: pointer;
}

.advance-search {
    display: none;
}

.btn-label {
    cursor: pointer;
}

.table {
    cursor: pointer;
}

.main-grid tr td {
    cursor: pointer;
}

.main-grid>tbody>tr:nth-child(even) {
    display: none;
}

.main-grid>tbody>tr:nth-child(even):hover {
    background: none;
}

.main-grid>tbody>tr:nth-child(even) td:first-child {
    border-left: 3px solid rgb(0, 128, 0) !important;
}

.bold {
    font-weight: 600;
}

.dropdown-select button.dropdown-toggle {
    width: 100%;
    text-align: left;
}

.dropdown-select span.caret {
    top: calc(50% - 3px);
    right: 15px;
    position: absolute;
}

#create-new-modal .modal-dialog,
#detail-modal .modal-dialog,
#map-modal .modal-dialog,
#album-modal .modal-dialog
/*, #stream-modal .modal-dialog*/

{
    /*width: 80%;*/
}

#create-new-modal .modal-body .p-title,
#detail-modal .modal-body .p-title {
    margin-bottom: 3px;
    margin-top: 10px;
    text-transform: unset;
}

.btn-tbl {
    width: 75px;
}

.table-student tr td:last-child,
.table-student tr th:last-child {
    width: 172px;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}

.no-display {
    display: none;
}

.no-border {
    border: none !important;
}

.no-border tr td,
.no-boder tr th {
    border: none !important;
}

::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

::-moz-scrollbar {
    width: 2px;
    height: 10px;
}

::-moz-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background: #ddd;
}

::-moz-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
}

::-moz-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

::-o-scrollbar {
    width: 2px;
    height: 10px;
}

::-o-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background: #ddd;
}

::-o-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
}

::-o-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

::scrollbar {
    width: 2px;
    height: 10px;
}

::scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background: #ddd;
}

::scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
}

::scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

.vertical-separator {
    height: 34px;
    float: left;
    width: 1px;
    background-color: #ddd;
    margin: 0px 10px;
}

.label-title {
    color: #999;
}

.panel-heading h3 {
    color: #444;
    display: initial;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    left: 0px;
    line-height: 0px;
    margin-right: 3em;
    position: relative;
    text-transform: uppercase;
    top: 0px;
}

.table tr td .progress {
    margin-top: 20px;
}

.table tr>td .progress {
    margin: 0;
}

.progress.xs,
.progress-xs,
.progress.xs .progress-bar,
.progress-xs .progress-bar {
    border-radius: 1px;
}

.progress.xs,
.progress-xs {
    height: 7px;
}

.progress,
.progress>.progress-bar,
.progress .progress-bar,
.progress>.progress-bar .progress-bar {
    border-radius: 1px;
}

.progress,
.progress>.progress-bar {
    box-shadow: none;
}

.bg-red {
    background-color: #dd4b39;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-light-blue {
    background-color: #3c8dbc !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.box-footer {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #f4f4f4;
    padding: 15px;
}

.panel-heading>.submenu {
    float: right;
    padding-bottom: 8px;
}

.table-detail tr td:first-child {
    color: #666;
}

.table-detail tr td:last-child {
    font-weight: 600;
}

.no-bold {
    font-weight: normal !important;
}

.company-detail,
.picture-video-album {
    cursor: pointer;
}

.company-detail-cell .popover {
    width: 430px;
    max-width: 430px;
}

.company-detail-cell .popover-title {
    text-align: center;
}

.inline-block {
    display: inline-block !important;
}


/*.image-preview-frame{
	position: fixed;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	top:0px;
}

[role="allow-full-screen"]{

}

.image-preview-frame img{
	margin: 0 auto;
	display: block;
	}*/

.album-frame {
    height: 100%;
}

.album-frame .picture-frame,
.album-frame .comment-frame {
    height: 100%;
}

.album-frame .list-picture-frame {
    height: 70px;
    padding: 2.5px;
}

.album-frame .list-picture-frame div {
    height: 65px;
    width: 65px;
    background: url("https://vantrung1408.github.io/gm/Contents/03_images/01_myImages/Marker_media/1.png") no-repeat center;
    display: inline-block;
}

.album-frame .main-picture-frame {
    /*height: calc(100% - 70px);*/
    height: 100%;
    width: 100%;
}

.album-frame .main-picture-frame div {
    margin: auto;
    height: 100%;
    width: auto;
    text-align: center;
    /*border-bottom: 1px solid #ddd;*/
}

.helper-vertical {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.album-frame .comment-frame {
    border-left: 1px solid #ddd;
}

.album-frame .picture-frame {
    /*padding: 10px 0px 10px 10px;*/
    background-color: #000;
}

.album-frame .comment-frame {
    padding: 10px 15px 10px 15px;
}

.album-frame span.btn-media-direction[itemid="prev"] {
    left: 0px;
}

.album-frame span.btn-media-direction[itemid="next"] {
    right: 0px;
}

.album-frame span.btn-media-direction {
    font-size: 50px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: calc(50% - 25px);
}

.album-frame span.btn-media-direction:hover {
    color: rgba(255, 255, 255, 0.8);
}

.album-frame .main-picture-frame video {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    left: 0px;
    top: 0px;
}

.comment-avatar {
    height: 48px;
}

.picture-address-log {
    color: #666;
    font-size: 12px;
}

.comment-name {
    font-weight: 600;
    color: #365899;
    cursor: pointer;
}

img.comment-avatar,
img.img-avatar {
    border: 1px solid #999;
    border-radius: 2px;
}

.comment-frame .comment-avatar-frame {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.comment-frame .comment-info-frame {
    padding-left: 10px;
    width: calc(100% - 50px);
    float: right;
}

.comment-content-frame {
    margin: 0px;
    margin-top: 20px;
}

.list-comment {
    height: calc(100% - 115px);
    margin: 0px;
    margin-top: 10px;
}

.list-comment ul {
    list-style-type: none;
}

.list-comment ul li img {
    height: 32px
}

.list-comment ul li .comment-avatar-frame {
    text-align: right;
}

#stream-modal .modal-dialog {
    height: 70%;
}

#stream-modal .modal-content,
#stream-modal .modal-body {
    height: 100%;
}

#stream-modal .modal-body {
    background: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.badge {
    width: 100%;
}

.table .progress {
    height: 21px;
}

ul.paging {
    list-style-type: none;
    display: inline-block;
}

ul.paging li {
    display: inline-block;
    padding: 1px 5px;
    margin: 3px 0px 3px 1px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

ul.paging li:hover {
    background-color: #fae185;
    border: 1px solid #f3d64a;
}

ul.paging li.active {
    border: 1px solid #999;
    background: #fff;
}

ul.paging li.active a {
    color: #000;
}

.pagination-frame {
    padding: 0px 15px;
}

.refresh-grid {
    border-right: 1px solid #999;
    padding-right: 10px;
}

ul.paging li a i {
    font-size: 11px;
}

span.paging-info {
    font-size: 12px;
    color: #666;
    position: absolute;
    margin-top: 5px;
    right: 30px;
}

.pull-right span.paging-info {
    position: relative !important;
    right: 0px;
}

.button-group {
    margin-right: 10px;
}

table tr .detail-col {
    width: 64.19px !important;
}

ul.dropdown-menu li a {
    color: #000 !important;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

table.create-or-update-table tr td {
    padding-top: 0px;
}

table.create-or-update-table tr td:first-child {
    padding-top: 5px !important;
    padding-left: 0px !important;
}

table.create-or-update-table tr td:last-child {
    padding-right: 0px !important;
}

table.create-or-update-table tr:last-child td {
    padding-bottom: 0px !important;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"][role="checkall"] {
    height: 16px;
    width: 16px;
}

table td input[type="checkbox"],
table th input[type="checkbox"] {
    display: block;
    margin: 0 auto;
}

table label[itemid="update"],
table label[itemid="delete"],
table label[itemid="createAccount"],
table label[itemid="create"] {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

table label[itemid="update"] {
    border-right: 0.5px solid #ddd;
}

table label[itemid="delete"] {
    border-left: 0.5px solid #ddd;
}

table label[itemid="update"]:hover {
    background-color: #337ab7;
    color: #fff;
    border-color: #2e6da4;
}

table label[itemid="delete"]:hover {
    background-color: #d9534f;
    color: #fff;
    border-color: #d43f3a;
}

table label[itemid="createAccount"]:hover {
    background-color: #5cb85c;
    color: #fff;
    border-color: #4cae4c;
}

.vertify-icon {
    color: rgb(0, 128, 0);
    margin-left: 5px;
    font-size: 16px;
}

#main-panel {
    /*margin-bottom: 150px;*/
    margin-top: -25px;
}

.col-sm-2-4 {
    width: 20%;
}

input[type="checkbox"].left {
    margin: 0px;
}

td input[type="checkbox"].left {
    margin-top: 9px;
}

.file-frame-image img {
    min-width: 100%;
    height: 170px;
}

.modal button[data-dismiss="modal"] {
    font-size: 16px;
    opacity: 1;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.file-frame-image {
    height: 170px;
    overflow: hidden;
    cursor: pointer;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}

.file-frame-sm .file-frame-image,
.file-frame-sm .file-frame-image img {
    height: 110px;
}

.file-frame-sm .file-frame-info {
    display: none;
}

.file-frame-info {
    font-size: 12px;
    /*border: 1px solid #ddd;*/
    padding: 2.5px 0px 5px 5px;
}

.file-frame-info tr td {
    padding-top: 5px;
}

.file-frame-info tr td:last-child {
    padding-left: 10px;
}

.file-frame-select {
    position: absolute;
    margin: 5px !important;
    height: 20px;
    width: 20px;
}

.panel.file-frame.panel-info {
    box-shadow: 1px 1px 5px #31708f;
}

.panel.file-frame.panel-info .panel-footer,
.popover-selected {
    background-color: #d9edf7;
    color: #31708f;
}

.popover-selected .arrow::after {
    border-top-color: #d9edf7 !important;
}

.file-frame {
    cursor: pointer;
    border-radius: 0px;
}

.default-grid-view,
.large-grid-view {
    font-size: 16px;
    cursor: pointer;
}

.large-grid-view {
    border-left: 1px solid #999;
    padding-left: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.popover-content .file-frame-info {
    width: 250px;
}

.popover-content .file-frame-info table {
    width: 100%;
}

.no-popover .popover {
    display: none !important;
}

.file-frame-image-on-hover {
    width: 100%;
    height: 100%;
    text-align: center;
}

.file-frame-image+span.more-file {
    position: absolute;
    margin-top: -21.55px;
    border-radius: 0px 5px 0px 0px;
}

#list-file-modal .modal-body .file-frame-image {
    background-size: 150%;
    height: 100%;
    border: 1px solid #ddd;
}

#list-file-modal .modal-dialog,
#album-modal .modal-dialog {
    height: 90%;
}

#list-file-modal .modal-content,
#list-file-modal .modal-content .modal-body .row,
#album-modal .modal-content,
#album-modal .modal-body {
    height: 100%;
}

#list-file-modal .modal-content .modal-header {
    height: 56px;
}

#list-file-modal .modal-content .modal-body {
    height: calc(100% - 56px);
}

#list-file-modal .modal-content .modal-body .row .col-sm-3 {
    padding: 2px 2px;
}

#list-file-modal .modal-content .modal-body .row .col-sm-3 video {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}

#list-file-modal .modal-content .modal-body .row .col-sm-3 {
    height: 130px;
}

.file-frame-image-video-play-btn {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.file-frame-image-video-play-btn .glyphicon {
    font-size: 50px;
    position: absolute;
    margin-left: calc(50% - 25px);
    top: calc(50% - 25px);
    color: #fff;
    z-index: 1;
}

.modal-body .file-frame-image:hover .file-frame-image-video-play-btn {
    display: block;
}

.modal-body .file-frame-image .length-info {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 2;
}

.btn-main-menu {
    text-align: center;
    font-size: 20px;
    display: none;
    margin-top: 16px;
}

.menu-background {
    display: none;
    position: fixed;
    z-index: 11;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-top .col-xs-9 {
    max-width: calc(100% - 79px);
}

.btn-menu.dropdown.open {
    background-color: rgb(0, 128, 0);
    color: #fff;
}

#close-menu,
#main-menu .btn-menu div.menu-icon {
    display: none;
}

div.menu-icon {
    position: absolute;
}

.btn-menu:hover .menu-icon {
    background-image: url('https://vantrung1408.github.io/gm/Contents/03_images/01_myImages/IconPack_hover.png');
}

.menu-icon {
    background-image: url('https://vantrung1408.github.io/gm/Contents/03_images/01_myImages/IconPack.png');
    background-size: 1600%;
    background-repeat: no-repeat;
}

.menu-home-icon {
    background-position: 0px 0px;
}

.menu-manager-icon {
    background-position: 0px -20px;
}

.menu-info-icon {
    background-position: 0px -40px;
}

.menu-help-icon {
    background-position: 0px -60px;
}

.btn-menu-frame hr {
    display: none;
}

.show-mobile {
    display: none;
}

.btn-top {
    position: fixed;
    right: 0px;
    bottom: 50px;
    background-color: rgba(0, 0, 0, .2);
    height: 48px;
    width: 48px;
    text-align: center;
    padding: 8px 0px;
    z-index: 9;
    border-radius: 5px 0px 0px 5px;
    display: none;
}

.btn-top>a>span {
    font-size: 32px;
    color: #fff;
    opacity: .6;
    margin: 0px;
}

.btn-top:hover {
    background-color: rgba(0, 0, 0, .5);
}

.btn-top:hover>a>span {
    opacity: 1;
}

.datepicker {
    z-index: 9;
}

.menu-open {
    overflow: hidden;
}

.bigLogo {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-image: url('https://vantrung1408.github.io/gm/Contents/03_images/01_myImages/bigLogo.png');
}

*[role="collapse"] {
    cursor: pointer;
}

.row-info>div.container>div {
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff !important;
}

#message-box-modal .modal-footer button {
    width: 100px;
}

.datepicker table tr td.today {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.datepicker table tr td.today:hover {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

.modal-footer .btn+.btn {
    margin-left: 0px;
}

#static-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: rgba(102, 102, 102, 0.1);
    display: none;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    font-size: 18px;
    font-weight: 600;
}

#static-panel>p {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 75px);
    width: 150px;
    text-align: center;
}

body.ajax-request {
    overflow: hidden;
}

body.ajax-request>div {
    filter: blur(1px);
}

body.ajax-request>div.process-bar,
body.ajax-request>div#static-panel {
    filter: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgb(0, 128, 0);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline-color: transparent;
}

.alert.message-box {
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    z-index: 9999999;
    left: calc(50% - 250px);
    width: 500px;
    bottom: 50px;
    /*padding-top: 4px;*/
    display: none;
}

.alert.alert-error{
    background-color: #d9534f;
    color: #fff;
}

.alert.alert-warning{
    background-color: #f0ad4e;
    color: #666;
}

.alert.alert-primary{
    background-color: #428bca;
    color: #fff;
}

.alert.alert-success{
    background-color: #5cb85c;
    color: #666;
}

.alert.alert-info{
    background-color: #5bc0de;
    color: #666;
}

.no-display-important {
    display: none !important;
}

.pagination-frame>span {
    cursor: pointer;
}

.tooltip-inner {
    background-color: #fffb9c;
    color: #333;
    font-weight: 600;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #fffb9c;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #fffb9c;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #fffb9c;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #fffb9c;
}

.tooltip.in{
	opacity: 1;
}

.table.table-nobordered>tbody>tr>td, .table.table-nobordered>tbody>tr>th, .table.table-nobordered>tfoot>tr>td, .table.table-nobordered>tfoot>tr>th,
.table.table-nobordered>thead>tr>td, .table.table-nobordered>thead>tr>th{
    border: none;
}

button[data-type="choose-files"],
button[data-type="submit-files"]{
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
}

button[data-type="submit-files"]{
    margin-top: 15px;
}

input[type="file"][name="file-input"]{
    display: none !important;
}

input[type="file"][name="file-input"] + div + p{
    margin: 5px 0px 0px 0px;
}

input[type="file"][name="file-input"] + div + p + p>[data-bind="file-extension"],
input[type="file"][name="file-input"] + div + p + p>[data-bind="file-maxSize"]{
    color: rgb(128, 0, 0);
    font-weight: 600;
}

#file-modal *[data-show="hasFile"]{
    display: none;
}

#file-modal div[data-type="display-file"]{
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    background: #ccc;
    padding: 5px 30px 5px 15px;
}

#file-modal div.cutted[data-type="display-file"]>span:nth-child(1){
    width: calc(100% - 90px);
}

#file-modal div[data-type="display-file"]>span:nth-child(1){
    display: inline-block;
    width: calc(100% - 50px);
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
    overflow: hidden;
}

#file-modal div[data-type="display-file"]>[data-type="remove-file"]{
    position: absolute;
    font-size: 14px;
    top: calc(50% - 10px);
    right: 10px;
    cursor: pointer;
}

#file-modal div[data-type="display-file"]>[data-type="file-size"]{
    position: absolute;
    top: calc(50% - 10px);
    right: 25px;
}

#file-modal .modal-body.hasFile *[data-show="hasFile"]{
    display: block;
}

#file-modal .modal-body>div.row>div.col-sm-6{
    width: 100%;
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2){
    display: block;
    padding: 0px 15px 15px 0px
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div{
    padding: 15px 0px 0px 15px;
    position: relative;
    margin-bottom: -15px;
    border: 1px solid #ccc;
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div>img:nth-child(1){
    width: 100%;
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div>div.jcrop-active{
    top: 0px;
    left: 0px;
    position: absolute;
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div>div[data-type="toolbox"]{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div button[data-type="save-crop-info"],
#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div button[data-type="clear-crop-info"]{
    opacity: 0;
    width: 80px;
    display: none;
    text-align: center;
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div:hover button[data-type="save-crop-info"],
#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div:hover button[data-type="clear-crop-info"]{
    opacity: .3
}

#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div button[data-type="save-crop-info"]:hover,
#file-modal .modal-body.hasFile>div.row>div.col-sm-6:nth-child(2)>div button[data-type="clear-crop-info"]:hover{
    opacity: 1;
}

#file-modal .modal-body>div.row>div.col-sm-6:nth-child(2){
    display: none;
}

#file-modal div[data-type="display-files"]>div[data-type="display-file"].active{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);   
    border: 1px solid rgb(0, 128, 0);
    background-color: #fff;
}

#file-modal .modal-body.hasFile div[data-type="display-files"]{
    height: 200px;
    overflow-y: auto;
    padding: 0px 5px;
}

#file-modal .modal-body.hasFile div[data-type="display-files"]>div:last-child{
    margin-bottom: 0px;
}

#file-modal *[data-type="display-button"]{
    font-size: 12px;
    font-weight: 400;
    padding-right: 5px;
}

*[data-type="note"]{
    font-size: 12px;
}

img.vertical,
div.jcrop-active.vertical{
    height: 100% !important;
    width: auto !important;
}

img.horizontal,
div.jcrop-active.horizontal{
    height: auto !important;
    width: 100% !important;
}

div.jcrop-active.squared,
img.squared{
    width: 100% !important;
    height: 100% !important;
}

div[data-bind="displayAllFiles"]{
    margin: -15px;
    padding: 5px 0px 0px 5px;
}

div[data-bind="displayAllFiles"]>div{
    padding: 0px 5px 5px 0px;
}

div[data-bind="displayAllFiles"]>div>div:nth-child(1){
    position: relative;
    border: 1px solid #ccc;
}

div[data-bind="displayAllFiles"]>div.active>div:nth-child(1),
div[data-bind="displayAllFiles"]>div.active>div + div{
    border-color: rgb(0, 128, 0);
}

div[data-bind="displayAllFiles"]>div.active>div:nth-child(1){
    border-bottom-color: #ccc;
}

div[data-bind="displayAllFiles"]>div>div:nth-child(1)>*[data-bind="media.url"]{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
}

div[data-bind="displayAllFiles"]>div>div:nth-child(1)>img{
    width: 100%;
}

div[data-bind="displayAllFiles"]>div>div:nth-child(1)>input[type="checkbox"]{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 10px;
    z-index: 1;
    margin: 0px;
}

div[data-bind="displayAllFiles"]>div>div:nth-child(1)>span[data-bind="fileCount"]{
    position: absolute;
    top: 6px;
    right: -3px;
    background-color: rgb(0,128,0);
    color: #fff;
    padding: 5px 10px;
}

div[data-bind="displayAllFiles"]>div>div + div{
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-top: none;
}

div[data-bind="displayAllFiles"]>div>div + div>table>tbody>tr>td{
    text-align: left;
    font-size: 12px;
    padding: 0px;
}

div[data-bind="displayAllFiles"]>div>div + div>table>tbody>tr>td:first-child{
    padding-right: 5px;
}

div[data-bind="displayAllFiles"]>div>div + div>table>tbody>tr>td:last-child{
    font-weight: 600;
}

#map>div:nth-child(1)>div.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div.gm-style-iw>div:nth-child(1)>div:nth-child(1)>div.infoWindow-wrapper:hover>div.director,
#media-modal .modal-body>.row .infoWindow-wrapper:hover>div.director,
div[data-bind="displayAllFiles"]>div>div:hover>.director{
    opacity: .2;
}

#map>div:nth-child(1)>div.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div.gm-style-iw>div:nth-child(1)>div:nth-child(1)>div.infoWindow-wrapper>div.director,
#media-modal .modal-body>.row .infoWindow-wrapper>div.director,
div[data-bind="displayAllFiles"]>div>div>.director{
    position: absolute;
    background-image: url('https://vantrung1408.github.io/gm/Contents/03_images/01_myImages/IconPack.png');
    background-repeat: no-repeat;
    opacity: 0;
    height: 32px;
    width: 32px;
    top: calc(50% - 16px);
    z-index: 2;
    cursor: pointer;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#map>div:nth-child(1)>div.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div.gm-style-iw>div:nth-child(1)>div:nth-child(1)>div.infoWindow-wrapper>div.director:hover,
#media-modal .modal-body>.row .infoWindow-wrapper>div.director:hover,
div[data-bind="displayAllFiles"]>div>div>.director:hover{
    opacity: 1;
}

#map>div:nth-child(1)>div.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div.gm-style-iw>div:nth-child(1)>div:nth-child(1)>div.infoWindow-wrapper>div.director.left,
#media-modal .modal-body>.row .infoWindow-wrapper>div.director.left,
div[data-bind="displayAllFiles"]>div>div>.director.left{
    left: 0px;
    background-position: 0 -320px;
}

#map>div:nth-child(1)>div.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div.gm-style-iw>div:nth-child(1)>div:nth-child(1)>div.infoWindow-wrapper>div.director.right,
#media-modal .modal-body>.row .infoWindow-wrapper>div.director.right,
div[data-bind="displayAllFiles"]>div>div>.director.right{
    right: 0px;
    background-position: 0 -288px;
}

div.infoWindowContent.horizontal,
#album-modal .modal-body>div>div>div.horizontal,
#album-modal .modal-body>div>div>video.horizontal,
div.horizontal{
    background-size: auto 100%;
}

div.infoWindowContent.vertical,
#album-modal .modal-body>div>div>div.vertical,
#album-modal .modal-body>div>div>video.vertical,
div.vertical{
    background-size: 100% auto;
}

#media-modal .modal-dialog,
#album-modal .modal-dialog{
    height: 90%;
}

#media-modal .modal-content,
#media-modal .modal-body,
#media-modal .modal-body>.row,
#media-modal .modal-body>.row>div,
#album-modal .modal-content,
#album-modal .modal-body>.row{
    height: 100%;
}

#album-modal .modal-body{
    height: calc(100% - 56px);
}


#album-modal .modal-body>div{
    background: #fff;
    padding: 15px;
    overflow-y: auto;
}

#album-modal .modal-body>div::-webkit-scrollbar{
    display: none;
}

#album-modal .modal-body>div::-moz-scrollbar{
    display: none;
}

#album-modal .modal-body>div::-o-scrollbar{
    display: none;
}

#album-modal .modal-body>div::scrollbar{
    display: none;
}

#album-modal .modal-body>div>div{
    height: auto;
    position: relative;
    padding: 0px;
}

#album-modal .modal-body>div>div>input[type="checkbox"]{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 10px;
    z-index: 10;
    margin: 0px;
}

#album-modal .modal-body>div>div>div,
#album-modal .modal-body>div>div>video{
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 1px solid #ccc;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 3px;
    background-color: #000; 
    background-position: center;
    background-repeat: no-repeat;
}

#album-modal .modal-body>div>div>div.active,
#album-modal .modal-body>div>div>video.active{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);   
    border-color: rgb(0, 128, 0);
}
